@import "./base";

.searchForm {
  margin-top: 2rem;
}

.searchInput {
  padding: 0.8rem 8rem;
  outline: none;
  border: 1.8px solid $grey;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: $grey;
  margin-right: 2px;
}

.searchInput::placeholder {
  font-family: inherit;
  font-size: 1rem;
  font-style: italic;
}

.searchButton {
  padding: 0.8rem;
  border: 1.8px solid $grey;
  background-color: white;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  margin-left: 0.3rem;
}

.searchButton:hover,
.searchButton:focus {
  background-color: $green;
}

.image__list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 0 1rem;
}

.image__list img {
  width: 250px;
  grid-row-end: span 4;
}
