@import "./base";

.searchForm {
  margin-top: 2rem;
}

.searchInput {
  padding: 0.8rem 8rem;
  outline: none;
  border: 1.8px solid $grey;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: $grey;
  margin-right: 2px;
}

.searchInput::placeholder {
  font-family: inherit;
  font-size: 1rem;
  font-style: italic;
}

.searchButton {
  padding: 0.8rem;
  border: 1.8px solid $grey;
  background-color: white;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  margin-left: 0.3rem;
}

.searchButton:hover,
.searchButton:focus {
  background-color: $green;
}

.image__list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: 10px;
  grid-gap: 0 0.6rem;
}

.image__list img {
  width: 400px;
  grid-row-end: span 4;
  // margin-top: 1rem;
}
// .imgs img{
//   margin-top: 2rem;
// }

.videoBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $grey;

  &:hover {
    border-bottom: 1px solid $green;
  }
}

.videoImg {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.videoImg img {
  max-width: 180px;
}

.videoTitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: $grey;
  font-style: italic;
  margin-bottom: 0.5rem;
}
.videoInfo {
  color: $grey;
  font-size: 0.8rem;
}

.detailHeader {
  font-size: 1.3rem;
  color: $green;
  margin: 1rem 0;
}
.detailDes {
  font-size: 0.9rem;
  color: $grey;
}

iframe {
  width: 600px;
  height: 400px;
}
