@import "./base";

.main {
  margin: 0 auto;

  width: 80vw;
  height: 100vh;
  margin-top: 3rem;
  // border: 3px solid $grey;
}

main {
  width: 80vw;
}
.main__container {
  width: 100%;
}

.header__container {
  width: 100%;
  height: 3rem;
}
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.header__link {
  color: $grey;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.header__link--title {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}

.main__column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  gap: 1rem;
  align-items: flex-start;
}

.accordion {
  width: 100%;
  display: flex;
  justify-content: center;
}
