@import "./base";

main {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.header__link a:link,
.header__link a:visited {
  color: $grey;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.header__link--photo {
  position: absolute;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  bottom: 3rem;
}
.header__link--about {
  position: absolute;
  writing-mode: vertical-lr;
  right: 3rem;
  top: 3rem;
}
.header__link--contact {
  position: absolute;
  writing-mode: vertical-lr;
  right: 3rem;
  bottom: 3rem;
  &:hover {
    color: red;
  }
}
.header__link--title a:link,
.header__link--title a:visited {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  color: $grey;
}

.main__column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  gap: 1rem;
  align-items: flex-start;
}

.accordion {
  width: 100%;
  display: flex;
  justify-content: center;
}
